<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="md" stopProcessing="true">
	                <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
	                <action type="Rewrite" url="md/index.php"  logRewrittenUrl="true" />
                </rule>
                <rule name="Index Request" enabled="true" stopProcessing="true">
                     <match url="^$" />
                     <action type="Rewrite" url="md/index.php" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Markdown Files" enabled="true" stopProcessing="true">
                     <match url="\.md$" />
                     <action type="Rewrite" url="md/index.php" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
        <!-- <httpErrors errorMode="Custom"/> -->
    </system.webServer>
</configuration>